<% @shops.each do |shop| %>
  <hr/>

  <%= image_tag 'shioya.jpg', :width=>"100", :height=>"100", :align=>"left" %>
  <div style="padding-left:10px">
  	<p><font size="3" color="red"><%= shop.name %></font></p>
    島根県松江市学園2丁目１９番地<br>
    TEL 0852-11-2222<br>
    AM11:00～PM11:00（年中無休）
  </div>
<% end %>
